.commentinput{
    display: flex;
    justify-content: space-between;

}
.commentTextarea{
    border: none;
    width: 100%;
    resize: none;
    margin: 8px 0px;
    font-family: 'Shippori Mincho', serif;
}
.commentTextarea:focus{
    outline: none;
}

.postComment{
    background-color: white;
    cursor: pointer;
    border: none;
}
.postComment:focus{
    outline: none;
}