.navbar{
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: white;
    
}

.navbarPhoto{
    height: 35px;
    border-radius: 8px;
}

.signoutbtn{
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
.signoutbtn:focus{
    outline: none;
}
.signoutDiv{
    display: flex;
}